* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 50px;
}

section {
  background-color: grey;
  /*border: 2px solid black;*/
  float: left;
  margin-bottom: 5px;
  text-align: center;
}

h2 {
  float: right;
  padding: 15px;
  clear: both;
  width: 40%;
  text-align: center;
  /*border: 2px solid black;*/
  overflow: hidden;
}
.container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

p {
  padding: 15px;
  padding-bottom: 20px;
  padding-top: 80px;
}

#chicken {
  background-color: lightcoral;
}

#beef {
  background-color: maroon;
  color: white;
}
#shushi {
  background-color: #e3e344;
}
/*#section1 {
  margin-right: 5px;
}
#section2 {
  margin-right: 5px;
}*/

@media (min-width: 992px) {
  #section1 {
    width: 33%;
  }
  #section2 {
    width: 33%;
  }
  #section3 {
    width: 33%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #section1 {
    width: 50%;
  }
  #section2 {
    width: 50%;
  }
  #section3 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #section1 {
    width: 100%;
  }
  #section2 {
    width: 100%;
  }
  #section3 {
    width: 100%;
  }
  section {
    float: center;
  }
}
